:root {
  font-family: sans-serif;
}
* {
  box-sizing: border-box;
}

main{
  height: 100vh;
  background-image: url(https://www.seiu1000.org/sites/main/files/imagecache/thumbnail/main-images/camera_lense_0.jpeg);
 background-repeat: no-repeat;
 background-size: cover;
background-color: gray;
}

a,
p {
  color: white;
}
body,ul,li,a,p{
  padding: 0;
  margin: 0;
  
}
p,ul,a{
  margin-top: 15px;
}
.header {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  min-width: 350px;
  min-height: 100px;
  padding: 0 2em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(32, 32, 32);
}
.logo {
   margin-right: 15px;
  font-size: 1.4em;
  text-transform: capitalize;
  font-family: cursive;
}
.list {
  display: flex;
  margin-right: 15px;
  list-style: none;
  
}
.list-item+.list-item {
  margin-left: 15px;
}
.link-list-item {
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
}

.link-contact {
  padding: 10px 15px;
  border: 2px solid white;
  border-radius: 5%;
  font-size: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
}
